{% extends 'base.html' %}
{% load static %}

{% block container %}

    <div class="d-flex flex-wrap justify-content-around">
        {% for category in categories %}

            <a href="{% url 'mainapp:category' category.pk %}" class="category-block text-center">
                <p>{{ category }}</p>
                <img src="/media/{{ category.get_image|default:'products_image/default.jpg' }}" alt="{{ category }}" class="image-size img-fluid">
                <p>{{ category.description }}</p>
            </a>

        {% endfor %}
    </div>

{% endblock %}