<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <title>Login</title>
</head>
<body>
{% if user.is_authenticated %}
<div class="container">
    <p class="text-center text-muted">
        Вы успешно вошли в систему, <strong>{{ user.username }}</strong>
    </p>
    <p class="text-center"><a class="btn btn-success" href="/api/">Посмотреть api</a></p>
</div>
    <p class="mt-10 text-center"><a href="{% url 'authapp:logout' %}" class="btn btn-danger">Выйти из системы</a></p>
{% else %}
<div class="container">
    <form method="post" class="form-horizontal">
        {% csrf_token %}
        {{ form.as_p }}
        <br>
        <input type="submit" class="form-control btn btn-info" value="Log in">
    </form>
</div>
{% endif %}

</body>
</html>