{% load static %}
<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>{{ title|capfirst }}</title>

    {% block js %}{% endblock %}

    {% block css %}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
              integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
              crossorigin="anonymous">
    {% endblock %}

</head>
<body>

<div class="container">

    <header>
        {% block header %}
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a class="navbar-brand" href="{% url 'mainapp:index' %}">LOGOTYPE</a>

                <div class="navbar-collapse">
                    <div class="navbar-nav">
                        <a class="nav-item nav-link" href="{% url 'mainapp:index' %}">Интернет-магазин</a>
                        <a class="nav-item nav-link" href="{% url 'adboard:main_page' 0 %}">Доска объявлений</a>
                        <a class="nav-item nav-link disabled" href="#">Pricing</a>
                        {% if user.is_authenticated %}
                            <a class="nav-item nav-link text-success"
                               href="{% url 'authapp:update' %}"><strong>{{ user|capfirst }}</strong>
                            </a>
                            <a class="nav-item nav-link text-danger" href="{% url 'authapp:logout' %}">Logout</a>
                        {% else %}
                            <a class="nav-item nav-link" href="{% url 'authapp:login' %}">Login</a>
                        {% endif %}

                        {% if user.is_superuser %}
                            <a class="nav-item nav-link text-success" href="{% url 'adminapp:index' %}">Admin Panel</a>
                        {% endif %}
                    </div>
                </div>
                <!-- Search form -->

                <form method="post">
                    <input type="text" class="search-query form-control" placeholder="Search">
                </form>

            </nav>
            {% block ad %}
                <a href="https://www.xbox.com/ru-ru/accessories/controllers/xbox-wireless-controller#white"
                   target="_blank">
                    <img src="/static/img/bdpagn_display.png" alt="">
                </a>
            {% endblock %}

        {% endblock %}
    </header>

    <main>
        {% block container %}{% endblock %}
    </main>

    <footer>
        {% block footer %}
            <footer class="container py-5">
                <div class="row">
                    <div class="col-12 col-md">
                        <small class="d-block mb-3 text-muted">© 2017-{% now 'Y' %}</small>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Фишки</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Прикольная штука</a></li>
                            <li><a class="text-muted" href="#">Функция команды </a></li>
                            <li><a class="text-muted" href="#">Team feature</a></li>
                            <li><a class="text-muted" href="#">Материал для разработчиков</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Ресурсы</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Основные ресурсы</a></li>
                            <li><a class="text-muted" href="#">Другие ресурсы</a></li>
                            <li><a class="text-muted" href="#">Бета-версии</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>Ресурсы</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Для бизнеса</a></li>
                            <li><a class="text-muted" href="#">Образовательный</a></li>
                            <li><a class="text-muted" href="#">Государственный</a></li>
                            <li><a class="text-muted" href="#">Игровой</a></li>
                        </ul>
                    </div>
                    <div class="col-6 col-md">
                        <h5>О нас</h5>
                        <ul class="list-unstyled text-small">
                            <li><a class="text-muted" href="#">Команда</a></li>
                            <li><a class="text-muted" href="#">Местоположение</a></li>
                            <li><a class="text-muted" href="#">Конфиденциальность</a></li>
                        </ul>
                    </div>
                </div>
            </footer>
        {% endblock %}
    </footer>
</div>


<link rel="stylesheet" href="{% static 'css/style.css' %}">
</body>
</html>